1.0.1_SNAPSHOT_CLINIC/clinic_web_service/Proyecto_YaFuimos/ProductoServicesTest/Service References/ProductoWS/Producto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2766/Producto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProductoService.Dominio" />
  <xs:element name="crearProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameProduct" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
        <xs:element minOccurs="0" name="idPresentacion" type="xs:int" />
        <xs:element minOccurs="0" name="priceProduct" type="xs:decimal" />
        <xs:element minOccurs="0" name="dateCreated" type="xs:dateTime" />
        <xs:element minOccurs="0" name="priceSale" type="xs:decimal" />
        <xs:element minOccurs="0" name="expirationDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProductoService.Dominio" minOccurs="0" name="crearProductoResult" nillable="true" type="q1:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProductoService.Dominio" minOccurs="0" name="consultarProductoResult" nillable="true" type="q2:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>