1.0.1_SNAPSHOT_CLINIC/clinic_web_service/Proyecto_YaFuimos/ProductoServicesTest/Service References/ProductoWS/Producto2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProductoService.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProductoService.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdPresentation" type="xs:int" />
      <xs:element minOccurs="0" name="NameProduct" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceProduct" type="xs:decimal" />
      <xs:element minOccurs="0" name="PriceSale" type="xs:decimal" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
</xs:schema>