1.0.1_SNAPSHOT_CLINIC/clinic_web_service/Proyecto_YaFuimos/ProductoServicesTest/Service References/ProductoWS/Producto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Producto" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2766/Producto.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2766/Producto.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2766/Producto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProductoService.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProducto_crearProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:crearProducto" />
  </wsdl:message>
  <wsdl:message name="IProducto_crearProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:crearProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IProducto_consultarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:consultarProducto" />
  </wsdl:message>
  <wsdl:message name="IProducto_consultarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:consultarProductoResponse" />
  </wsdl:message>
  <wsdl:portType name="IProducto">
    <wsdl:operation name="crearProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProducto/crearProducto" message="tns:IProducto_crearProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProducto/crearProductoResponse" message="tns:IProducto_crearProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="consultarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProducto/consultarProducto" message="tns:IProducto_consultarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProducto/consultarProductoResponse" message="tns:IProducto_consultarProducto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProducto" type="tns:IProducto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crearProducto">
      <soap:operation soapAction="http://tempuri.org/IProducto/crearProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarProducto">
      <soap:operation soapAction="http://tempuri.org/IProducto/consultarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Producto">
    <wsdl:port name="BasicHttpBinding_IProducto" binding="tns:BasicHttpBinding_IProducto">
      <soap:address location="http://localhost:2766/Producto.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>